<div class="menu-content">
  <div class="input-container">
    <i class="fa-solid fa-magnifying-glass icon"></i>
    <input placeholder="Buscar un alimento ...">
  </div>
  <div class="filtros">
    <div class="filter"><i class="fa-solid fa-drumstick-bite me-1"></i> Carnes</div>
    <div class="filter"><i class="fa-solid fa-fish me-1"></i> Pescados</div>
    <div class="filter"><i class="fa-solid fa-wheat-awn me-1"></i> Hidratos</div>
    <div class="filter"><i class="fa-solid fa-carrot me-1"></i> Vegetales</div>
    <div class="filter"><i class="fa-solid fa-apple-alt me-1"></i> Frutas</div>
    <div class="filter"><i class="fa-solid fa-cheese me-1"></i> Lácteos</div>
  </div>

  <div>
    <div *ngFor="let item of foodItems" class="food-item" (click)="onFoodItemClick(item)">
      <div class="food-item-content">
        <img [src]="item.imageUrl" alt="{{ item.name }}" class="food-item-image">
        <div class="food-item-details">
          <h3>{{ item.name }}</h3>
        </div>
      </div>
    </div>
  </div>

</div>