@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Asignación de Roboto a toda la página */
* {
  font-family: "Roboto", sans-serif;
}

/* Declaración de tipos de Roboto, pesos */
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.own-container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.site {

  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

::selection {
  color: white;
  background: rgba(26, 26, 26, 0.788);
}

/* Estilos de scrollbar */
::-webkit-scrollbar {
  widht: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgb(224, 224, 224);
  border-radius: 50px
}

::-webkit-scrollbar-thumb {
  background-color: #000000cc;
  border-radius: 50px;
  transition: all 0.3s ease;
  /* Para transiciones suaves */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1d1d1dcc;
  border-radius: 50px
}