.container-wrapper{
  overflow: hidden;
}

.buttonP {
  border: 1px solid #00000038;
  border-radius: 9px;
  padding: 2px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  /* Para transiciones suaves */
}

.buttonP:hover {
  border-color: black;
}

.progressbars {
  border: 1px solid #00000038;
  border-radius: 9px;
  padding: 16px;


}


.container-wrapper {

  .colheight {
    min-height: calc(100vh - 144px);
  }


  .estadisticas {


    .parametro-container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 16px;

      @media (max-width: 766px) {
        grid-template-columns: repeat(4, 1fr);
        /* 4 columnas */
        gap: 8px;
        /* Ajuste del espacio */

        .dato {
          font-size: 33px;
        }

        .decimal {
          font-size: 18px;
        }

        .medicion {
          font-size: 11px;
          padding: none;
          position: absolute;
          top: 3px;

          i {
            margin-right: 4px;
          }
        }

        .status-circle {
          width: 7px;
          height: 7px;
          border-radius: 50%;
          margin-left: 0px;
        }
      }


    }
  }

  .menu {
    display: flex;
    flex-direction: column;
    /* Organiza el contenido verticalmente */
    overflow: hidden;
    /* Evita que el contenido interno empuje el tamaño */
    border: 1px solid #00000038;
    border-radius: 9px;
    padding-bottom: 8px;
    height: 420px;
  }

  .parametro {
    border: 1px solid #00000038;
    background-color: transparent;
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    border-radius: 9px;
    backdrop-filter: blur(1.3px);

    .dato {
      font-size: 70px;
      font-weight: 800;

    }

    .decimal {
      font-weight: 800;
      font-size: 30px;
      color: rgba(0, 0, 0, 0.477);
    }

    .medicion {
      position: absolute;
      top: 9px;
      left: 9px;
      color: rgb(0, 0, 0);
      padding: 4px 12px;
      border-radius: 50px;

      i {
        margin-right: 10px;
      }


    }


  }

}

.status-circle {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-left: 5px;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Clase base para animar */
.fade-in-up {
  opacity: 0;
  /* Oculto inicialmente */
  animation: fadeInUp 0.5s ease forwards;
}

/* Secuencia de animación (opcional para diferentes elementos) */
.fade-in-up.delay-1 {
  animation-delay: 0.1s;
}

.fade-in-up.delay-2 {
  animation-delay: 0.3s;
}

.fade-in-up.delay-3 {
  animation-delay: 0.5s;
}

.fade-in-up.delay-4 {
  animation-delay: 0.7s;
}

.footerseparator {
  margin-top: 68px;
}

@media (max-width: 1199px) {
  .menu {
    height: 420px !important;
    /* Altura para pantallas de 1199px o menos */
  }
}

@media (max-width: 991px) {
  .menu {
    height: 414px !important;
    /* Altura para pantallas de 1199px o menos */
  }
}

@media (max-width: 1399px) {
  .col-lg-4 {
    flex: 0 0 100%;
    /* Ocupar 100% del ancho */
    max-width: 100%;
  }

  .col-lg-8 {
    flex: 0 0 100%;
    /* Ocupar 100% del ancho */
    max-width: 100%;
    padding-top: 16px;
  }
}