<div class="container-wrapper">

    
    <div class="container">
        
        <div class="boxes" style="margin-top: 80px;">
            <div class="mb-4 d-flex align-items-center justify-content-between">
                <h1 class="text-header m-0">Tu <span class="highlight">dashboard</span>.</h1><i routerLink="/history" class="fa-solid fa-clock-rotate-left"></i>
            </div>
            <app-progressbars></app-progressbars>
        </div>


    </div>

    <app-menu></app-menu>
</div>