<div class="base position-relative">
    
    <div class="container pt-auto">
        <div class="mainBanner d-flex align-items-center justify-content-center" style="min-height: 100vh;">
            <div class="row content w-100">
                <div class="col-lg-6 p-0">
                    <h1 class="title">Planea<br> tu nutrición, <br>sin <span class="highlight">aditivos</span>.</h1>
                </div>
                <div class="col-lg-6 p-0">
                    <div class="buttonHolder d-flex flex-column justify-content-center align-items-center">
                        <div class="buttonOwn mb-3" routerLink="/auth/login">INICIAR SESIÓN</div>
                        <div class="buttonOwn2" routerLink="/auth/register">NUEVO USUARIO</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
