<div class="index-page">

    <div class="container pt-auto">
        <div class="d-flex align-items-center justify-content-center" style="min-height: calc(100vh - 80px);">
            <div class="contenidoHero">
                <div class="lettering">
                    <h1>Gestiona tu nutrición <span>eficazmente</span></h1>

                </div>
                <div class="botonera d-flex align-items-center justify-content-center mt-5">
                    <a class="shadow boton registro d-flex align-items-center" routerLink="/auth/register">
                        <i class="fa-regular fa-user" style="margin-inline-end: 10px;"></i>Crea una cuenta ahora mismo
                        <i class="bi bi-chevron-right flecha"></i></a>

                </div>
                <div class="d-flex justify-content-center mt-4">
                    <a class="sesion" routerLink="/auth/login">¿Ya tienes cuenta? Inicia sesión aquí</a>
                </div>
            </div>


        </div>
    </div>
</div>