h1 {
    font-size: 80px;
    text-align: center;
    font-weight: 800;
    max-width: 800px;
    line-height: 70px;
    color: #000000;
}

.registro {
    padding: 10px 25px;
    text-decoration: none;
    border-radius: 50px;
    background-color: #131313;
    color: white;
    border: black 1px solid;
    display: inline-flex;
    align-items: center;
    position: relative; 
    padding-right: 45px; 
    transition: all 0.3s ease; 

    .flecha {
        transition: transform 0.3s ease; 
        position: absolute; 
        right: 20px; 
    }
}

.registro:hover {
    background-color: #1d1d1d;
}

.registro:hover .flecha {
    transform: translateX(7px); 
}

.sesion {
    color: #000000a5;
    cursor: pointer;
}



/* Animación de entrada */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0); 
    }
}

/* Estilos de animación para cada sección */
.contenidoHero .lettering, 
.contenidoHero .botonera, 
.contenidoHero .sesion {
    opacity: 0; /* Oculto inicialmente */
    animation: fadeInUp 0.5s ease forwards; /* Duración y efecto */
}

/* Secuencia de la animación */
.contenidoHero .lettering {
    animation-delay: 0.1s; /* Aparece primero */
}

.contenidoHero .botonera {
    animation-delay: 0.3s; /* Aparece después */
}

.contenidoHero .sesion {
    animation-delay: 0.5s; /* Aparece al final */
}
