label {
  font-weight: 800;
  color: #4d4d4d;
  letter-spacing: 1px;
}



.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(0, 0, 0, 0.234) 8%, rgba(8, 8, 8, 0.234) 92%, rgba(255,255,255,0) 100%);
}

.h-custom {
  height: calc(100% - 73px);
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

.hotFix {
  padding-inline: 5%;
}

.text-divider {
  font-weight: 900;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.329);
}

.progress-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 100%;
  padding: 0; /* Asegúrate de que no haya padding */
}

.progress-bar-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.half-width {
  width: 48%;
}

.full-width-md {
  width: 100%;
}

@media (max-width: 768px) {
  .full-width-md {
    width: 100%;
  }
}

.progress-bar-container label {
  margin-right: 15px;
  flex-shrink: 0;
  min-width: 50px;
  line-height: 1; /* Ajusta la altura de línea para evitar desplazamientos */
}

.progress-bar-container .progress {
  flex-grow: 1;
  margin-right: 10px;
  background-color: #e0e0e0;
  border-radius: 0px;
  overflow: hidden;
  height: 15px;
  width: 100%;
}

.progress-bar-container span {
  flex-shrink: 0;
  min-width: 60px;
  text-align: right;
  line-height: 1; /* Ajusta la altura de línea para evitar desplazamientos */
}

.progress-bar {
  background-color: #76c7c0;
  height: 100%;
  transition: width 0.3s ease-in-out;
}

