<div *ngIf="userDetails">
  <div *ngFor="let macro of ['calories', 'fats', 'proteins', 'carbs', 'saturatedFats', 'sugars']">
    <p>{{ macro | titlecase }} - {{ consumedNutrients[macro] | number:'1.0-0' }} / {{ userDetails[macro] }} g</p>
    <div class="progress">
      <div
        class="progress-bar"
        role="progressbar"
        [style.width.%]="(consumedNutrients[macro] / userDetails[macro]) * 100"
        [attr.aria-valuenow]="consumedNutrients[macro]"
        [attr.aria-valuemin]="0"
        [attr.aria-valuemax]="userDetails[macro]"
      ></div>
    </div>
  </div>
</div>


