<div class="food-form-container">
    <h2>Crear Nueva Comida</h2>
    
    <form [formGroup]="foodForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Nombre</label>
        <input id="name" formControlName="name" type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label for="type">Tipo</label>
        <select id="type" formControlName="type" class="form-control">
          <option value="">Selecciona un tipo</option>
          <option value="Carne">Carne</option>
          <option value="Pescado">Pescado</option>
          <option value="Hidrato">Hidrato</option>
          <option value="Vegetal">Vegetal</option>
          <option value="Fruta">Fruta</option>
          <option value="Lacteo">Lácteo</option>
          <option value="Pan">Pan</option>
          <option value="Otros">Otros</option>
        </select>
      </div>
      <div class="form-group">
        <label for="caloriesPer100g">Calorías por 100g</label>
        <input id="caloriesPer100g" formControlName="caloriesPer100g" type="number" class="form-control" />
      </div>
      <div class="form-group">
        <label for="proteinsPer100g">Proteínas por 100g</label>
        <input id="proteinsPer100g" formControlName="proteinsPer100g" type="number" class="form-control" />
      </div>
      <div class="form-group">
        <label for="fatsPer100g">Grasas por 100g</label>
        <input id="fatsPer100g" formControlName="fatsPer100g" type="number" class="form-control" />
      </div>
      <div class="form-group">
        <label for="carbsPer100g">Carbohidratos por 100g</label>
        <input id="carbsPer100g" formControlName="carbsPer100g" type="number" class="form-control" />
      </div>
      <div class="form-group">
        <label for="saturatedFatsPer100g">Grasas Saturadas por 100g</label>
        <input id="saturatedFatsPer100g" formControlName="saturatedFatsPer100g" type="number" class="form-control" />
      </div>
      <div class="form-group">
        <label for="sugarsPer100g">Azúcares por 100g</label>
        <input id="sugarsPer100g" formControlName="sugarsPer100g" type="number" class="form-control" />
      </div>
      <div class="form-group">
        <label for="unitBased">Basado en unidad</label>
        <input id="unitBased" formControlName="unitBased" type="checkbox" />
      </div>
      <div class="form-group">
        <label for="imageUrl">URL de la Imagen</label>
        <input id="imageUrl" formControlName="imageUrl" type="text" class="form-control" />
      </div>
  
      <button type="submit" class="btn btn-primary">Crear Comida</button>
    </form>
  
    <div *ngIf="successMessage" class="alert alert-success mt-3">
      {{ successMessage }}
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger mt-3">
      {{ errorMessage }}
    </div>
  </div>
  